@charset "UTF-8";


#communityContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1050px;
	margin: 0 auto;
}

/* 제목 */
#comtitle {
	/* margin: 25px 0; */
	margin: 50px 0 25px 0;
}

/* 1:1 문의 입력보드 */

.name{
	border: none;
	width: 100%;
}

.form-content{
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	width: 100%;
	resize: none;
}

#dataForm{
	width: 100%;
	padding: 20px 40px;
    margin-bottom: 30px;
    border-top: 2px solid;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.li_board {
	display: table;
	width: 100%;
}

.li_board ul{
	list-style: none;
	margin-bottom: 0;
	clear: both;
	display: table-row-group;
	padding-left: 0;
}

.li_board ul li {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 7px;
	padding-right: 7px;
}

.li_board ul li {
	border: 1px solid #D7D7D7;
}

.li_board ul li {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 10px;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.li_board ul li.col1 {
	width: 20%;
}

.li_board ul li.col2 {
	width: 80%;
}

.col1{
	font-weight: bold;
}

/* textarea */
#comment {
 resize: none;
 border: none;
/*  overflow: hidden; */
}

/* 라디오버튼 */
input {
  accent-color: #707070;
}

/* 파일업로드 버튼 */
#filebtn {
	border: 1px solid #ddd;
	outline: none;
}

#inputfile {
	display: none;
}

/* 수정 삭제 버튼 */

.status *{
    vertical-align: middle;
}

/* 등록 취소 버튼 */

div#bottom_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.backbtn {
	background-color: #fff;
	border: 1px solid #707070;
	color: black;
	padding: 5px 15px;
}

.insertbtn {
	background-color: #fff;
	border: 1px solid #707070;
	color: black;
	padding: 5px 15px;
	margin-right: 20px;
}

/* 반응형 */
/* 1100 */
@media ( max-width :1100px) {
#communityContainer {
	width: 90%;
	margin: 0 auto;
}


/* 768 */
@media ( max-width :768px) {
	
	#communityContainer {
	width: 90%;
	margin: 0 auto;
}
.dataForm ul li {
    /* text-align: center; */
    /* display: table-cell; */
/*     vertical-align: middle; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    border-width: 0 0 1px 0;
    border-style: solid;
}


.li_board ul {
	padding: 10px 15px 15px 15px;
	display: block;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.li_board ul li {
	border-width: 0;
	text-align: left;
}

.li_board ul li.read, .li_board ul li.date, .li_board ul li.name,
	.li_board ul li.time, .li_board ul li.like {
	display: table-cell;
	width: auto !important;
	padding: 5px 10px 0 0;
	font-size: 12px;
	height: 12px;
	line-height: 12px !important;
	margin-top: 8px;
}

.li_board ul li.col2 {
	display: block;
	float: none;
	width: 100%;
	font-size: 15px;
	position: relative;
	padding: 0 !important;
	line-height: 1.4;
}

}

