@charset "UTF-8";

#reviewContainer {
    width: 55%;
    margin: 0 auto;
}

#comtitle {
	margin: 25px 0;
	text-align: center;
}

h5{
	font-weight: bold !important;
    margin: 0;
    margin-bottom: 17px !important;
}

.product {
	margin-bottom: 35px !important;
	border-top: 1px solid lightgray;
    padding-top: 20px;
}

dl {
	margin: 0px !important;
}

dd {
	float: left;
	padding-right: 30px;
}
			
dt {
	float: left;
	padding-right: 10px;
}

#reviewcontent {
	padding: 20px 40px;
    margin-bottom: 30px;
    border-top: 2px solid;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

a {
	text-decoration-line: none !important;
	color: black !important;
}

a:hover {
	text-decoration-line: none !important;
	color: black !important;
}

a:active {
	color: black !important;
}

#review-middle {
	padding: 40px 0;
}

p {
	border-bottom: 1px solid lightgray;
    padding: 30px 0;
    font-size: 18px;
}

#review-bottom {
	text-align: end;
}

#review-bottom button {
	background-color: #fff;
	border: 1px solid lightgray;
	color: gray;
	padding: 5px 15px;
}

#filebtn {
	border: 1px solid #ddd;
	outline: none;
}

#inputfile {
	display: none;
}

#updatetitle {
	border: 1px solid lightgray;
}

#updatecontent {
	border: 1px solid lightgray;
}

#starRate {
    display: inline-block; /* 행 전체 차지하지 않고 별 영역만 사용하게끔 함. */
    border: 0px;
    direction: rtl; /* 이모지 순서 반전 */
}

#starRate input[type=radio]{
    display: none;
}

#starRate input[type=radio]:checked ~ label {
    text-shadow: 0 0 0 #f5d142; /* 마우스 클릭 체크 */
}

#starRate label { /* 이모지를 투명으로 하고 텍스트 그림자 효과에 색상 부여하는 방식으로 이모지 색상 변경. */
    font-size: 1em;
    color: transparent;
    text-shadow: 0 0 0 #e6e6e6;
}

#starRate label:hover {
    text-shadow: 0 0 0 #f5d142;
}

#starRate label:hover ~ label {
    text-shadow: 0 0 0 #f5d142;
}

.delBtn{
	width: 15px;
	position: absolute;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.rating {
	color: #e6e6e6;
}

svg {
	margin-bottom: 5px !important;
}

.img-box {
    width:120px;
    height:120px;
    overflow:hidden;
    margin:0;
    border: 1px solid lightgray;
}

.img-thumbnail {
	padding: 5px 43px !important;
    background-color: #fff;
    border-radius: 0.25rem;
    max-width: 100%;
    border: none !important;
    height: 100% !important;
}

.product-title {
	height: 153px;
	border: solid 1px lightgray;
	padding: 15px;
}

.product-content {
	padding-left: 130px;
    font-size: 18px;
}

.img-div {
	text-align: center;
	margin-bottom: 5px;
}

.imgBoxImg {
	width: 50%;
}

.btn-radius {
	border-radius: 20px;
}

@media screen and (max-width : 1300px) {
	#reviewContainer {
	width: 60%;
	}
}

@media screen and (max-width : 768px) {
	#reviewContainer {
    width: 90%;
    margin: 0 auto;
	}
	
	.imgBoxImg {
	width: 90%;
	}
}	

@media screen and (max-width : 414px) {
	.alist {
	margin-top: -97px;
	}
}