@charset "UTF-8";

#reviewContainer {
    width: 1050px;
    margin: 0 auto;
}

#comtitle {
	margin: 25px 0;
	text-align: center;
}

h5{
	font-weight: bold !important;
    margin: 0;
    margin-bottom: 17px !important;
}

.product {
	margin-bottom: 35px !important;
	border-top: 1px solid lightgray;
    padding-top: 10px;
}

dl {
	margin: 0px !important;
}

dd {
	float: left;
	padding-right: 30px;
}
			
dt {
	float: left;
	padding-right: 10px;
}

#reviewcontent {
	padding: 20px 40px;
    margin-bottom: 30px;
    border-top: 2px solid;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

a {
	text-decoration-line: none !important;
	color: black !important;
}

a:hover {
	text-decoration-line: none !important;
	color: black !important;
}

a:active {
	color: black !important;
}

#review-middle {
	padding: 40px 0;
}

p {
	border-top: 1px solid lightgray;
    padding-top: 30px;
}

button {
	background-color: #fff;
	border: 1px solid lightgray;
	color: gray;
	padding: 5px 15px;
}
