@charset "UTF-8";

 	#reviewContainer {
 		display: flex; 
     	flex-direction: column; 
     	justify-content: center; 
     	align-items: center; 
 	} 
 	
 	#comtitle {
 		margin: 25px 0;
 	}
 	
 	#reviewform {
 		margin-bottom: 10px;
 	}
 	
	#reviewtab {
		width: 1050px;
		background-color: #fff;
		text-align: center;
		overflow: hidden;
	}
	
	#filterdiv {
		width: 1050px;
	}
	
	#filter {
		float: right;
    	margin-bottom: 10px;
	}
	
	th {
		background-color: #f0f0f0;
		padding: 5px;
	}
	
	tr {
		border-bottom: 1px solid lightgray;
	}
	
	.reviewhead {
		border-top: 2px solid black;
		border-bottom: none;
	}
	
	td {
		color: black;
	}
	
	a {
		text-decoration-line: none !important;
		color: black !important;
	}
	
	a:hover {
		text-decoration-line: none !important;
		color: black !important;
	}
	
	a:active {
		color: black !important;
	}
	
	.searchsel {
	    padding: 3px;
    	border: none;
	}
	
	.searchinput {
	    padding: 3px;
	    border-top: none;
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid #707070;
	}
	
	.searchbtn {
		background-color: #707070;
		border: none;
		color: white;
		padding: 5px 15px;
	}
	
	.productlink {
		font-size: smaller;
	}