@charset "UTF-8";



/* parisienne-regular - latin */
@font-face {
	font-family: 'Parisienne';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/parisienne-v13-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local(''), url('../fonts/parisienne-v13-latin-regular.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/parisienne-v13-latin-regular.woff2')
		format('woff2'), /* Super Modern Browsers */
       url('../fonts/parisienne-v13-latin-regular.woff') format('woff'),
		/* Modern Browsers */
       url('../fonts/parisienne-v13-latin-regular.ttf')
		format('truetype'), /* Safari, Android, iOS */
       url('../fonts/parisienne-v13-latin-regular.svg#Parisienne')
		format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-4Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-7ExtraBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-5Medium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: Pretendard-Regular;
}

#loginMenu {
	display: flex;
}

#loginMenu a {
	margin-right: 20px;
}

.navbar-brand {
	font-family: Parisienne !important;
	font-size: 50px !important;
	margin: 0 auto;
	color: black;
}

.box, .box1 {
	display: none;
}

#box {
	line-height: 2.3;
	text-align: center;
	height: 40px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #999;
	background-color: #f6f6f6;
	position: sticky;
	top: 70px;
	z-index: 10;
}

#header {
	position: sticky;
	top: 0px;
	z-index: 10;
}

#secondMenu {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}

#two:hover ~ #second {
	display: block !important;
}

#menuBtn {
	/* 	display: block; */
	/*     padding: 0.25rem 1.5rem; */
	/*     clear: both; */
	/*     font-weight: 400; */
	/*     color: #212529; */
	/*     text-align: inherit; */
	/*     white-space: nowrap; */
	/*     background-color: transparent; */
	/*     border: 0; */
	
}

.nav-item {
	margin-right: 30px;
}

.navbar {
	background-color: white !important;
	position: relative;
	font-size: 15px;
	height: 70px;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #999;
	/* 	margin-bottom: 30px; */
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	font-size: 13px;
	font-family: 'S-CoreDream-4Regular';
	font-weight: bold;
}

/* 게시판 메뉴쪽 */
.dropdown-toggle {
	color: black;
}

/* #bookdrop:hover { */
/* 	background-image: url("../img/메뉴선택.png"); */
/* 	background-position: center; */
/* } */
.dropdown-toggle:hover {
	background-image: url("../img/메뉴선택.png");
	background-position: center;
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

.nav-link {
	font-size: 15px;
}

/* .col img { */
/* 	filter: drop-shadow(5px 5px 5px #000); */
/* } */
#logo {
	height: 74px;
}

#loginform {
	margin: 0 100px 0 auto;
	float: right;
	margin-right: 20px;
	/* 	padding-bottom: 40px; */
}

#upmenu {
	margin: 0 auto;
}

/* .dropdown-toggle:hover { */
/* 	color: black; */
/* 	background-image: "img/메뉴선택.png"; */
/* } */
.dropdown-toggle:after {
	display: none;
}

.btn:focus, .btn:active {
	/* 	outline: none !important; */
	box-shadow: none;
}

#momenu {
	display: none;
}

.mobilemain {
	display: none;
}

.dropdown-item.active, .dropdown-item:active {
	text-decoration: none;
	background-color: gray !important;
}

@media screen and (max-width: 768px) {
	#textbox{
    margin-left: 0px !important; 
	}
	#typebtn{
	 display: flex;
    flex-direction: row;
    width: 100%;
    }
	.WaterBtn{
	    margin-right: 23px  !important;
	    }
	#noticecol{
	    margin-bottom: 60px;
	    }
	#loginMenu{
	margin-right: 0 !important;
	}
	#loginform{
	margin: 0 0 0 auto !important;
	}
	.slider-1>.slides>div {
    position: inherit !important;
	}
	.imgSlide{
	height: 27%;
	}
	.slider-1{
	height: 111% !important;
	}
	video{
	  height: 100%;
	    }
	.nav-item {
/* 		width: 50px; */
		margin-right: 0 !important;
	margin-left:  41px;
	}
	#btntwo{
	display: none;
	}
	#menuBtn{

	    padding: 0;
	    }
	#upmenu {
		flex-direction: row;
		margin: 0 !important;
		width: 100%;
	}
	#header {
		padding: 0;
		    position: inherit;
	}
	#memberbtn {
		justify-content: flex-end;
		margin: 0 auto;
	}
	.navbar-brand {
/* 		margin-left: 45px; */
	}
}