@charset "UTF-8";

#reviewphoto {
	    width: 70px;
	display: inline-block;
}
#boardtitle{
	font-size :30px;
	display: inline-block;
	border-bottom: 2px solid lightgray;
}
#plus{
	margin-top: 15px;
    float: right;
    text-decoration: none;
    color : black;
}
#notice{
	margin-top: 40px;
    font-size: 17px;
    border-bottom: 1px solid lightgray;
}
#review{
	border-bottom: 1px solid lightgray;
}
#reviewmain{
	margin-bottom: 15px;	
	border-bottom: 1px solid lightgray;
}
#titlename{
	 text-decoration : underline;
  	text-underline-offset : 10px;
	
}
#textbox{
	   text-align: left;
    margin-left: 20px;
}
.type {
	text-align: center;
}

hr {
	width: 930px!impotant;
}

.Btnimg {
	display: inline-block;
}

.type>a {
	display: block;
	font-size: 26px;
}

#menutitle, #typetitle {
	font-size: 30px;
	/* 	font-family: Pretendard-Regular; */
	margin-bottom: 10px;
}

.typeSlider {
	display: none;
}

.slides>.active {
	display: flex !important;
	flex-direction: row;
	text-align: center;
	margin: 0 auto;
}

.slides3>.active {
	display: flex !important;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

#typediv {
	margin-right: 30px;
	margin: 0 auto;
}

#typeWineName {
	font-size: 10px;
}

.typeWineMenu {
	width: 500px;
}

#imgwine {
	width: auto;
	height: 200px;
}

.slider-1 {
	height: 610px;
	position: relative;
}

/* 슬라이더 1 - 페이지 버튼 */
.slider-1>.page-btns {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}

.slider-1>.page-btns>div {
	width: 20px;
	height: 20px;
	background-color: gray;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

.slider-1>.page-btns>div.active {
	background-color: red;
}

/* 슬라이더 1 - 슬라이드 */
.slider-1>.slides>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider-1>.slides>div.active {
	opacity: 1;
}

/* 슬라이더 좌우 버튼 */
.slider-1>.side-btns>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	cursor: pointer;
}

.slider-1>.side-btns>div:last-child {
	left: auto;
	right: 0;
}

.slider-1>.side-btns>div>span {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translatey(-50%);
	background-color: white;
	opacity: 0.5;
	padding: 1px 13px;
	border-radius: 50px;
	font-size: 25px;
}

.slider-1>.side-btns>div:last-child>span {
	left: auto;
	right: 20px;
}

/* //////////////// 슬라이드2 */
.slider-2 {
	margin-top: 30px;
	height: 300px;
	position: relative;
}

/* 슬라이더 2 - 페이지 버튼 */
.slider-2>.page-btns {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}

.slider-2>.page-btns>div {
	width: 20px;
	height: 20px;
	background-color: gray;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

.slider-2>.page-btns>div.active {
	background-color: red;
}

/* 슬라이더 2 - 슬라이드 */
.slider-2>.slides>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	/*     transition: opacity 0.3s; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider-2>.slides>div.active {
	opacity: 1;
}

/* 슬라이더 좌우 버튼 */
.slider-2>.side-btns>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	cursor: pointer;
}

.slider-2>.side-btns>div:last-child {
	left: auto;
	right: 0;
}

.slider-2>.side-btns>div>span {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translatey(-50%);
	background-color: white;
	opacity: 0.5;
	padding: 1px 13px;
	border-radius: 50px;
	font-size: 25px;
}

.slider-2>.side-btns>div:last-child>span {
	left: auto;
	right: 20px;
}

/* //// 슬라이드 3 */

.slider-2 {
	margin-top: 30px;
	height: 300px;
	position: relative;
}

/* 슬라이더 2 - 페이지 버튼 */
.slider-3>.page-btns {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}

.slider-3>.page-btns>div {
	width: 20px;
	height: 20px;
	background-color: gray;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

.slider-3>.page-btns>div.active {
	background-color: red;
}

/* 슬라이더 2 - 슬라이드 */
.slider-3>.slides>div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	/*     transition: opacity 0.3s; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.slider-3>.slides>div.active {
	opacity: 1;
}

/* 슬라이더 좌우 버튼 */
.slider-3>.side-btns>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	cursor: pointer;
}

.slider-3>.side-btns>div:last-child {
	left: auto;
	right: 0;
}

.slider-3>.side-btns>div>span {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translatey(-50%);
	background-color: white;
	opacity: 0.5;
	padding: 1px 13px;
	border-radius: 50px;
	font-size: 25px;
}

.slider-3>.side-btns>div:last-child>span {
	left: auto;
	right: 20px;
}


.slides>div {
	display: none;
}
.slides3>div {
	display: none;
}