@charset "UTF-8";

.reservationList_table {
	border: solid;
	border-radius: 10px;
	border-style: hidden;
	box-shadow: 0 0 0 1px gray;
}

#memberinfo_left_nav a {
	font-size: 1.4em;
	color: black;
	text-decoration-line: none
}

#memberinfo_left_nav a:hover {
	font-size: 1.4em;
	color: #ffc107;
	text-decoration-line: none;
}

#memberinfo_left_nav {
	margin-top: 55px;
}

.reservationList_large_text {
	font-size: 28px;
	margin-top: 50px;
	color: black;
}

.reservationList_medium_text {
	font-size: 20px;
	margin-top: 45px;
	color: black;
}

.reservationList_image {
	width: 400px;
	height: 180px;
}

.mt {
	padding: 3px;
	margin: 50px;
}

.content_subject {
	height: 110px;
	line-height: 110px;
	background-color: #F87171;
	margin-bottom: 60px;
	width: 1080px;
	margin: auto;
}

.content_subject h2 {
	display: inline-block;
	color: white;
	font-size: 50px;
	padding: 23.5px;
	font-weight: bolder;
}

/* float 속성 해제 */
.clearfix {
	clear: both;
}

.btn-hover {
	width: 200px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 56px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:hover {
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.btn-hover:focus {
	outline: none;
}

.btn-hover.color-9 {
	    width: 97%;
	background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
	box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
#coner{width: 800px; margin-top: 32px;font-size: x-large;}
.remain-time {
    display: inline-block;}
@media screen and (max-width: 768px) {	
	.mt-auto{margin: 0.4rem 0 6.2rem  0;}
	.content_subject {height: 55px;width: 100%;    line-height: 0px;}
	.content_subject h2{font-size: 26px;padding: 13px;}
	#coner{width: 326px;    margin-top: 50px;}
	.name{font-size: 20px;}
	#colre{font-size: 18px;}
	#D_day{    font-size: 20px;}
	.remain-time{display: inline-block;}
    }