@charset "UTF-8";


#productimg{
	height: 280px;
}

#firstrow > .col{
	margin-top: 56px;	
}
#productone{
	text-align: center;
}
#producttwo{
	margin-top: 56px;	
	
}

#productthree{
	border: 2px solid #A2A2A2;
	margin-top: 30px !important;
/* 	background-color: #F87171; */
	margin-left: 60px;
	height: 500px;
	border-radius: 21% 21% 21% 21%  / 10% 10% 10% 10% ;
}
.buttondiv > .row{
	margin-top: 35px;
}
.buttondiv{
	margin-top: 400px;
	text-align: center;
}
#productinfo{
	 margin-top: 45px;
	 font-size: 13px;
}
#productprice{
	 margin-top: 19px;
}
#productnm{
}
.knm{
	font-size: 21px;
	font-weight: bold;
}