@charset "UTF-8";

#t1 {
	text-align: center;
/*     width: 80%; */
    height: 348px;
    opacity: 70%;
}

/* 추가 */
.image-box {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.image-background {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	padding: 20px;
	text-align: center;
	font-weight: 700;
}

.subtitle {
	text-align: center;
	padding-bottom: 10px;
}

.semititle {
	padding: 20px;
	text-align: center;
}

.semi-img {
	text-align: center;
}

.semi-content {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.inner-content {
	height: auto;
	margin: 10px auto;
	text-align: center;
}

.col {
	padding: 40px 0;
}

.btn-hover {
	margin: 0 10px;
    width: 133px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 47px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-7 {
   background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.end-buttons {
	text-align: center;
	margin-bottom: 50px;
}

h5 {
	font-weight: 700 !important;
	color: #ff303a;
}

.recipe-img-box {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}

.recipe-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.recipe-img {
	opacity:0;
}

.semi-img {
	opacity:0;
}

/* top버튼 */
a#MOVE_TOP_BTN {
	color: gray;
	text-decoration: none;
    font-size: xxx-large;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    z-index: 9999;
    cursor: pointer;
}