@charset "UTF-8";

<<<<<<< HEAD
@import
	url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css')
	;

.container {
	max-width: 960px;
}

.pricing-header {
	max-width: 700px;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em
		rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.bold {
	vertical-align: top;
	font-weight: bold;
}

.scroll-to-detail-margin {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 31px;
}

#t1 {
	text-align: center;
    width: 80%;
    height: 200px;
    opacity: 50%;
}

.s_t_i{
	
	
}
.s_t_c{
	
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
}

.s_c_i1{
	float:left
	  
}
.s_c_t1{
	float:left
	
}
.s_t{
	height: auto%;
	text-align: -webkit-center;
	
}

#t1 img {
	width: 100%;
	height: auto;
	font-weight: bolder;
	display: block;
	vertical-align: middle;
	opacity: 0.9;
	margin: 0px auto;
	background-size: 50%;
	position: relative;
}

#text-p {
	position: absolute;
	top: 51.9%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	font-weight: bolder;
	font-size: 2.55rem;
	color: #000000;
	text-shadow: 0px 0px 1px #333;
}

.wainT {
	font-weight: 900;
	font-weight: bolder;
}

.parent {
	height: 1em; /* 애니메이션 높이 */
	overflow-y: hidden;
	display: block;
}

.parent .child {
	font-size: 1em; /* 애니메이션 높이 */
	font-weight: bold;
	line-height: 1;
	animation-name: grow;
	animation-duration: 2.5s; /* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@
keyframes grow {from { transform:translateY(1em)
	
}

}

/* 애니메이션 높이 */
to {
	transform: translateY(0)
}

#fofo {
	width: 100%;
	border-top-left-radius: 29px 30px !important;
	border-top-right-radius: 40px 25px !important;
	border-bottom-right-radius: 52px 19px !important;
	border-bottom-left-radius: 43px 28px !important;
	background-color: #fff7fc;
	align-content: space-around;
	margin: 0 auto;
	padding: 6.89%;
	text-align: center;
	letter-spacing: 2.5px;
}

#list-1, #list-2, #list-3 {
	border: none;
	background-color: #ffb80b;
	text-align: center;
	text-shadow: 0 1px 0 rgb(4, 0, 255);
}

#cbo {
	text-align: center;
}

#cbo h1 {
	color: #dee9f4;
	color: #829ebb;
	text-shadow: 0px 0px 1px #9998b3db;
}

#cbo small {
	color: #0087ff !important;
}

#jb-wrap {
	width: 90%;
	margin: 10px auto !important;
	position: relative;
	padding: 3%;
=======
#t1 {
	text-align: center;
/*     width: 80%; */
    height: 348px;
    opacity: 70%;
}

/* 추가 */
.image-box {
	width: 100%;
>>>>>>> 3f7a509254cf1fc646bc2a123eabd00f1865ed6c
	overflow: hidden;
	margin: 0 auto;
}

.image-background {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	padding: 20px;
	text-align: center;
	font-weight: 700;
}

<<<<<<< HEAD
.carousel {
    position: relative;
    width: 80%;
    align-self: center;
}

#jb-text h1 {
	font-weight: bolder;
=======
.subtitle {
>>>>>>> 3f7a509254cf1fc646bc2a123eabd00f1865ed6c
	text-align: center;
	padding-bottom: 10px;
}

.semititle {
	padding: 20px;
	text-align: center;
}

.semi-img {
	text-align: center;
}

.semi-content {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.inner-content {
	height: auto;
	margin: 10px auto;
	text-align: center;
}

.col {
	padding: 40px 0;
}

.btn-hover {
	margin: 0 10px;
    width: 133px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 47px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover.color-7 {
   background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.end-buttons {
	text-align: center;
	margin-bottom: 50px;
}

h5 {
	font-weight: 700 !important;
	color: #ff303a;
}

.recipe-img-box {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}

.recipe-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.recipe-img {
	opacity:0;
}

<<<<<<< HEAD
.row1 {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    margin-top: 50px;
}


.cll {
	color: #F87171;
=======
.semi-img {
	opacity:0;
>>>>>>> 3f7a509254cf1fc646bc2a123eabd00f1865ed6c
}