@charset "UTF-8";

#bestbook p{
	margin-top: -10px;
}
#bestbooks ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	line-height: 50px;
}

#bookmenu {
	margin-right: 150px;
}

#bookmenu a {
	text-decoration: none;
	color: black;
}

#bookmenu div {
	width: 300px;
	padding-top: 27px;
	font-size: 40px;
	margin-bottom: 30px;
}

.col-md-4 {
	margin-bottom: 20px;
}

img {
	display: block;
	margin: 0 auto;
}

#bestbook {
	text-decoration: none !important;
	color: black;
	text-align: center;
}

.book {
	margin-bottom: 70px;
}



hr {
	background-color: black;
}

.row {
	margin-left: 0px;
}