@charset "UTF-8";

#selectmenu {
	margin-top: 30px;
}

#selectmenu ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 120px;
	line-height: 50px;
}

#mymenu {
	margin-right: 150px;
}

#mymenu .active {
	background-image: url("../img/메뉴선택노란색.png");
	background-position: center;
}

#mymenu a {
	text-decoration: none;
	color: black;
}

#mymenu div {
	width: 300px;
	padding-top: 27px;
	font-size: 40px;
	margin-bottom: 30px;
}

#titlemenu {
	padding-top: 27px;
	font-size: 40px;
	margin-bottom: 30px;
	background-color: black;
	color: #f1f1f1;
}

hr.hrclass {
	margin-bottom: 0px;
	background-color: black;
}

hr {
	background-color: black;
}

#usersContain table {
	margin: auto 0;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#usersContain tr.contents {
	border-bottom: 1px solid lightgray;
	padding: 10px 0;
}

#usersContain td {
	padding: 10px;
	color: black;
}

#usersContain td span {
	display: block;
	text-align: left;
}

.hiddencon {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 180px;
}

#clicktitle {
	text-decoration: none;
	color: black;
}

#clicktitle:hover {
	color: rgb(160, 160, 160);
}

#usersContain th {
	background-color: rgb(247, 247, 247);
	padding: 10px;
}

.row {
	margin-left: 0px;
}

/* .rowbtn { */
/*     justify-content: flex-end; */
/*     margin: 30px 0px;	 */
/* } */
.delbtn {
	float: right;
}

form {
	text-align: center;
}

#numpage {
	margin: 0 auto;
	padding-top: 10px;
}

#numpage a {
	padding: 10px;
}

#pageing {
	margin-top: 30px;
	text-align: center;
}

.search {
	height: 25px;
}

.searchbt {
	height: 25px;
}

#notexist h5 {
	color: gray;
	text-align: center;
	padding: 30px;
}